body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.storeContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.card .card-title {
  font-size: 30px;
  font-weight: 300;
  display: block;
  text-align: center;
  font-family: fantasy;
}

.card-content {
  height: 130px;
  text-align: center;
}
.card-action {
  display: flex;
  justify-content: space-around;
}
.price {
  font: bold;
  font-size: 30px;
}
.cart {
  position: fixed;
  bottom: 2rem;
  right: 2rem;

  cursor: pointer;
  z-index: 5;
  padding: 1rem;
}
@media (min-width: 767px) {
  .cart {
    top: 5rem;
    bottom: unset;
  }
}
.basket-list {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: orange lighten-1;
  background: white;
  width: 50rem;
  max-width: 95%;
}

.basket-close {
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: white;
}

.secondary-content {
  cursor: pointer;
  position: relative;
  bottom: 40px;
  color: black;
}

.increment-decrement {
  cursor: pointer;
}

.clear-btn {
  cursor: pointer;
  color: #ffa726;
}

.active {
  background-color: orange darken-2;
}
#toast-container {
  top: 3rem !important;
  animation: fade-in 250ms ease-in-out;
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}
